.app {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.studio-ui-canvas {
    height: calc(100dvh - 4rem - 5rem);
    width: 100%;
}

.chili-editor {
    width: 100%;
    height: 100%;
}
