.app {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.editor-workspace-canvas {
    height: calc(100vh - 4rem - 5rem);
    width: 100%;
}

.chili-editor {
    width: 100%;
    height: 100%;
}
