name: Build and deploy to UAT
on:
    release:
        types: [prereleased]
env:
    NODE_VERSION: 22.x
permissions:
    contents: read
    packages: read
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: FranzDiebold/github-env-vars-action@v2
            - uses: actions/checkout@v4
            - name: Use Node ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  registry-url: 'https://npm.pkg.github.com'
                  scope: '@chili-publish'
            - name: install dependencies
              run: |
                  yarn install
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: build code
              run: yarn build
            - name: copy file branch
              run: |
                  export CURRENT_PACKAGE_VERSION=$(node --eval="var pjson = require('./package.json');console.log(pjson.version);")
                  export PACKAGE_VERSION_TRIMMED=$(node --eval="const version = '$CURRENT_PACKAGE_VERSION'.split('.'); const path = version[0] + '.' + version[1]; console.log(path)")
                  export PACKAGE_VERSION_PATCH=$(node --eval="const version = '$CURRENT_PACKAGE_VERSION'.split('.');console.log(version[2])")

                  buildPath=upload/$PACKAGE_VERSION_TRIMMED/$PACKAGE_VERSION_PATCH
                  latestPath=upload/latest
                  versionedLatestPath=upload/$PACKAGE_VERSION_TRIMMED/latest

                  mkdir -p ${buildPath%"/merge"}
                  mkdir -p ${latestPath%"/merge"}
                  mkdir -p ${versionedLatestPath%"/merge"}


                  cp -R dist/* ${buildPath%"/merge"}
                  cp -R dist/* ${latestPath%"/merge"}
                  cp -R dist/* ${versionedLatestPath%"/merge"}
            - name: Azure Login action
              uses: azure/login@v2
              with:
                  creds: |
                      {
                          "clientId": "${{ vars.AZ_AD_CLIENT_ID_CP_RJS_INT_CICD_SP }}",
                          "clientSecret": "${{ secrets.AZ_AD_CLIENT_SECRET_CP_RJS_INT_CICD_SP }}",
                          "tenantId": "${{ vars.AZ_TENANT_ID }}",
                          "subscriptionId": "${{ vars.AZ_SUBSCRIPTION_ID_SAAS_UAT }}"
                      }
            - name: Upload build
              uses: azure/cli@v2
              with:
                  azcliversion: latest
                  inlineScript: |
                      az storage blob upload-batch \
                      --account-name ${{ vars.STORAGE_ACCOUNT_NAME_UAT }} \
                      --source upload/ \
                      --destination studio-ui \
                      --overwrite true \
                      --auth-mode login
    purge-cdn:
        needs: build
        name: Purge Cloudflare CDN
        runs-on: ubuntu-latest
        steps:
            - name: Purge Cloudflare CDN
              uses: chili-publish/delivery-github-utilities/actions/cloudflare/purge-cdn@cloudflare-purge-cdn_1.0.0
              with:
                  environment: UAT
                  api-token: ${{ secrets.CLOUDFLARE_CDN_PURGE_API_TOKEN_UAT }}
                  path-prefix: studio-ui
